{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header id="header-inner">
    <div class="container">
        <nav id="main-nav">
            <div id="logo" class="fab fa-python fa-2x"></div>
            <ul>
                <li><a href="{% url 'home'%}">Home</a></li>
                <li><a href="{% url 'about'%}">About</a></li>
                <li><a href="{% url 'experience'%}">Projects</a></li>
                <li><a href="{% url 'blog'%}" class="current">Blog</a></li>
                <li><a href="{% url 'contact'%}">Contact</a></li>
                <li><a href="{% url 'about'%}">Sign up</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="main-login">
    <div class="container">
        <h1>Log In</h1>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-dark">Log In</button>
        </form>
    </div>
</div>

{% endblock content %}
