// Tablets & Smaller
@media(max-width: 800px) {
    #header-home {
        height: 30rem;

        .header-content {
            padding-top: 5rem;
        }
    }
}

// Special
@media(max-width: 550px) {
    #experience-a {
        .item-text-title{
            font-size: 0.8rem;
        }
    }
}

// Smartphones
@media(max-width: 500px) {
    #experience-a {
        .item-text-title{
            font-size: 2rem;
        }
    }

    #main-nav {
        flex-direction: column;
        align-items: center;

        li {
            padding: 0.5rem;
            font-size: 0.8rem;
        }
    }

    #header {
        &-home {
            height: 10rem;
            border-bottom: 3px solid $main-color;
            background-position: 20% 30%;

            .header-content {
                display: none;
            }
        }

        &-inner {
            height: 10rem;
        }
    }

    // Stack Grid
    #home-a .specials,
    #home-b .stats,
    #home-c .process,
    #home-d .testimonials,
    #contact-b .contact-info,
    .items {
        grid-template-columns: 1fr;
    }

    #home {
        &-a {
            .specials div {
                border-bottom: 1px $light-color solid;
                padding-bottom: 1rem;

                &:last-child {
                    border: none;
                    padding-bottom: 0;
                }
            }
        }

        &-b {
            .stats div {
                padding: 2rem 0 1rem 0;
            }
        }

        &-c {
            h3{
                margin-top: 1rem;
            }

            p {
                margin-bottom: 1.5rem;
            }
        }
    }

    // About
    #about {
        &-a {
            .about-info {
                grid-template-areas:
                    'bioimage'
                    'bio'
                    'aw1'
                    'aw2'
                    'aw3';
            }
        }

        &-c {
            .refs {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                h3 {
                    margin-top: 0.2rem;
                }

                p {
                    margin-top: 0.2rem;
                    margin-bottom: 1rem;
                }

                img {
                    margin: 2rem 1rem 0 1rem;
                }
            }
        }

        &-d {
            .ints {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                &-1,
                &-2,
                &-3,
                &-4,
                &-5, {
                    margin: 1rem 1rem;
                }
            }
        }
    }

    // Blog
    #main_blog {
        .post-entry {
          padding: 2rem 0;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
    }

    // Blog detail
    #blog-detail {
        .container {
            padding: 2rem 2rem;
        }
    }

    // Contacts
    #contact {
        &-a {
            .text-fields {
                grid-template-areas:
                    'name'
                    'subject'
                    'email'
                    'phone'
                    'message';
                
                form {
                    width: 350px;
                }
            }
        }

        &-b {
            div {
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px #555 solid;

                &:last-child {
                    border: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }

        &-c {
            h1 {
                font-size: 2rem;
            }
        }
    }

    
    // Footer
    #main-footer {
        height: 7rem;

        .footer-content {
            flex-direction: column;
            padding: 1rem;
            height: 5rem;
        }
    }
}

// Landscape
@media(max-height: 500px) {
    #header-home {
        .header-content {
            padding-top: 3rem;
        }
    }
}

@media(max-height: 330px) {
    #header-home {
        .header-content {
            h1 {
                font-size: 2rem;
            }
        }
    }
}