@import "config";
@import "utilities";
@import "item_grid";

// General Styles
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
  height: 100%;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    // Header Content
    .header-content {
      text-align: center;
      padding-top: 20%;
      
      h1 {
        font-size: 3rem;
        line-height: 1.2;
        font-family: 'Spartan', sans-serif;
      }
    }
  }

  // Header Inner
  &-inner {
    background: $bg-image no-repeat 20% 30% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }
}


// Home Sections
#home {
  // Home Section A
  &-a {
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(3, 1fr);

      .fab {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }

  // Home Section B
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      li {
        line-height: 2;
  
        &.stats-title {
          font-size: 1.5rem;
        }
  
        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }

      div {
        padding: 3rem 0;

        &:nth-child(odd) {
          background: $light-color;
        }

        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }

  // Home Section C
  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;
      margin-bottom: 2rem;

      h3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 1rem;
      }
      // process-step
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $main-color;
        color: set-text-color($light-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 1s;
      }

      // process-icon
      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 2rem;
        margin-top: 1rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;

        &:hover {
          background: $main-color;
          color: $dark-color;
          width: 90px;
          height: 90px;
          line-height: 90px;

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }
    }
  }
}

// About Sections
#about {
  // About A
  &-a {
    .about-info {
      display: grid;
      grid-template-areas: 
        'bioimage bio bio'
        'aw1 aw2 aw3';
      grid-gap: 1.2rem;
    }

    // Grid Area
    .bio-image {
      grid-area: bioimage;
    }

    .bio {
      grid-area: bio;
      border-left: 3px solid $main-color;
      padding: 0.8rem 2rem;
    }

    .job-1 {
      grid-area: aw1;
    }

    .job-2 {
      grid-area: aw2;
    }

    .job-3 {
      grid-area: aw3;
    }

    .job-1 .fas,
    .job-2 .fas,
    .job-3 .fab {
      color: $main-color;
      margin: 1rem;
    }
  }

  // About B
  &-b {
    .progress {
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;

      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background: $main-color;
      }
    }
  }

  // About C
  &-c {
    .refs {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin-top: 1rem;
      }

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px #33333356 solid;
      }

      &-1,
      &-2,
      &-3,
      &-4, {
        text-align: center;
      }
    }
  }

  // About D
  &-d {
    .ints {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      h3 {
        margin-top: 1rem;
      }

      i {
        color: $main-color;
      }

      &-1 {
        text-align: center;
      }

      &-2 {
        text-align: center;
      }

      &-3 {
        text-align: center;
      }

      &-4 {
        text-align: center;
      }

      &-5 {
        text-align: center;
      }
    }
  }
}

// Login page
#main-login {
  overflow: auto;
  height: 100%;

  h1 {
    text-transform: uppercase;
    margin: 2rem 0;
  }

  label {
    color: $dark-color;
    padding: 3px 5px;
    width: 100%;
    margin: 2rem 2rem 0 0;
    border-bottom: 1.5px $main-color solid;
  }

  input, textarea {
    margin: 1rem 0 1.5rem 0;
    width: 100%;
    // padding: 5px!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(58, 58, 58, 0.664)
  }

  button {
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 100%;
    font-size: 1rem;
    border-radius: 3px;
  }
}

// Blog Page
#main_blog {
  .container {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;

    .create-post {
      display: block;
      justify-content: center;
      align-items: center;
      width: 100%;

      p {
        color: #3333335d;
        text-transform: uppercase;
      }

      a {
        text-transform: uppercase;
        display: inline-block;
        padding: 0.2rem 0.6rem;
        transition: all 0.5s;
        border: none;
        border-radius: 10%;
        background-color: $dark-color;
        color: $main-color;
        margin-right: 0.8rem;
        cursor: pointer;

        &:hover {
          background-color: $main-color;
          color: $dark-color;
        }
      }
    }

    h2 {
      margin-bottom: 1rem;
      
      a {
        color: $dark-color;
        transition: all 1s;
        border-bottom: 1.5px $main-color solid;

        &:hover {
        padding: 1px 20px;
        border-radius: 3%;
        color: $dark-color;
        background-color: $main-color;
        }
      }
    }

    .post-entry {
      display: flex;
      width: 100vw;
      height: auto;

      h1 {
        color: black;
        text-align: center;
        text-transform: uppercase;
      }

      .entry-image {
        flex: 1;
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 1%;

        img {
          transition: all 1s;
          border-radius: 3%;
        }

        img:hover {
          transform: scale(1.1);
        }
      }
        
      .entry-content {
        flex: 1;
        padding: 2rem 2rem 2rem 2rem;

        .liner {
          padding: 1rem 0;
          border-top: 1px $dark-color solid;
          border-bottom: 1px $dark-color solid;
        }
      }
    }

    // Paginator
    .pg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;

      a {
        margin: 1rem 2rem;
        padding: 0.5rem;
      }

      &-active {
        border-bottom: 1.5px $main-color solid;
      }
    }

  }
}

// Blog New
#blog-new {
  overflow: auto;
  height: 100%;

  h1 {
    text-transform: uppercase;
    margin: 2rem 0;
  }

  label {
    color: $dark-color;
    padding: 3px 5px;
    width: 100%;
    margin: 2rem 2rem 0 0;
    border-bottom: 1.5px $main-color solid;
  }

  input, textarea {
    margin: 1rem 0 1.5rem 0;
    width: 100%;
    // padding: 5px!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(58, 58, 58, 0.664)
  }

  button {
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 100%;
    font-size: 1rem;
    border-radius: 3px;
  }
}

// Blog Detail
#blog-detail {
  .container {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .post-entry {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      justify-content: center;
      align-items: center;
  
      .entry-image {
        width: 60%;
        height: 60%;
        margin-bottom: 3.2rem;

        img {
          border-radius: 3%;
        }
      }
          
      .entry-content {
        border-top: 1px $dark-color solid;
        padding-top: 2rem;
        width: 100%;

        h2 {
          margin-bottom: 1rem;

          span {
            color: $dark-color;
            border-bottom: 1.5px $main-color solid;
          }
        }
      }
    }
  
    .blog-del-edit {
      display: flex;

      a {
        margin-top: 1rem;
        padding: 0.5rem 2rem;
      }

      #edit-b {
        border-top-left-radius: 4%;
        border-bottom-left-radius: 4%;
      }

      #del-b {
        border-top-right-radius: 4%;
        border-bottom-right-radius: 4%;
      }
    }
  }
}


// Blog Edit
#blog-edit {
  overflow: auto;
  height: 100%;

  h1 {
    text-transform: uppercase;
    margin: 2rem 0;
  }

  label {
    color: $dark-color;
    padding: 3px 5px;
    width: 100%;
    margin-top: 2rem;
    border-bottom: 1.5px $main-color solid;
  }

  input, textarea {
    margin: 1rem 0 1.5rem 0;
    width: 100%;
    // padding: 5px!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(58, 58, 58, 0.664)
  }

  input {	
    height: 30px;
  }

  button {
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 100%;
    font-size: 1rem;
    border-radius: 3px;
  }
}

// Blog Delete
#blog-del {
  overflow: auto;
  height: 100%;

  .del-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 30%;
      height: 30%;
      margin-bottom: 1rem;
      border-radius: 3%;
    }

    h2 {
      color: $dark-color;
      padding: 3px 5px;
      margin-bottom: 1rem;
      border-bottom: 1.5px $main-color solid;
    }

    p {
      margin-bottom: 2rem;
    }
  }

  h1 {
    text-transform: uppercase;
    margin: 2rem 0;
  }

  label {
    color: $dark-color;
    padding: 3px 5px;
    width: 100%;
    margin-top: 2rem;
    border-bottom: 1.5px $main-color solid;
  }

  input, textarea {
    margin: 1rem 0 1.5rem 0;
    width: 100%;
    // padding: 5px!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(58, 58, 58, 0.664)
  }

  input {	
    height: 30px;
  }

  button {
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 100%;
    font-size: 1rem;
    border-radius: 3px;
  }
}

// Contact Page
#contact {
  &-a {
    .text-fields {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      form {
        width: 500px;

        label {
          color: $dark-color;
          padding: 3px 5px;
          width: 100%;
          margin-top: 2rem;
          border-bottom: 1.5px $main-color solid;
        }
  
        input, textarea {
          margin: 1rem 0 1.5rem 0;
          width: 100%;
          // padding: 5px!important;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; 
          border-radius: 3px;
          border-style: solid;
          border-width: 1px;
          border-color: rgba(58, 58, 58, 0.664)
        }
      
        input {	
          height: 30px;
        }
  
        button {
          margin-top: 0.7rem;
          margin-bottom: 1rem;
          width: 100%;
          font-size: 1rem;
          border-radius: 3px;
        }
      }

      .success {
        background-color: rgba(0, 128, 0, 0.15);
        padding: 10px;
        text-align: center;
        color: green;
        border: 1px solid green;
        border-radius: 3px;
      }
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &-c {
    color: $dark-color;

    h1 {
      text-align: center;
      font-size: 4rem;
    }
  }
}

// Footer
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
  
    .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;
      transition: all 1s;
      color: $light-color;

      &:hover {
        background: $main-color;
        color: $dark-color;
      }
    }
  }
}

// Import Media Queries
@import 'media';