{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/ea72cc6769.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Jose Enrico Bandong | Python Developer</title>
</head>

<body>

    {% block content %}
    {% endblock content %}

    <!-- Footer -->
    <footer id="main-footer">
        <div class="footer-content container">
            <p>Copyright &copy; 2020. All Rights Reserved</p>
            <div class="social">
                <a href="https://bitbucket.org/%7Bae79c3ac-ad26-4d72-87f5-1f24539f968e%7D/" target="blank" class="fab fa-git"></a>
                <a href="https://www.linkedin.com/in/jose-enrico-bandong-930a5263/" target="blank" class="fab fa-linkedin"></a>
            </div>
        </div>
    </footer>

    <!-- Type Effect -->
    <script src="{% static 'js/typewriter.js' %}"></script>
</body>

</html>